<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!-- General -->
    <category label="30000">
        <setting id="repository_port" type="number" label="30001" default="61234"/>
        <setting label="30002" type="action" action="RunScript(repository.github, import_entries)"/>
        <setting label="30003" type="action" action="RunScript(repository.github, delete_entries)"/>
        <setting label="30004" type="action" action="RunScript(repository.github, clear_entries)"/>
        <setting label="30005" type="action" action="RunScript(repository.github, update_repository)"/>
        <setting label="30006" type="action" action="RunScript(repository.github, about)"/>
    </category>
</settings>
